* {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  font-family: "Neue Montreal";
  font-weight: normal;
  font-style: normal;
}
* body {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

#login-form {
  width: 100%;
  height: auto;
  margin: auto;
  position: relative;
}
#login-form #cancel {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 50px;
}
#login-form #cancel a {
  text-decoration: none;
}
#login-form #cancel a button {
  border: 0;
  width: 50px;
  height: 50px;
}
@media only screen and (max-width: 600px) {
  #login-form #cancel a button {
    background-color: #000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
  #login-form #cancel a button i {
    color: #fff;
  }
}
#login-form h1 {
  font-size: 32px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: 700;
  color: #1e1e1e;
}
@media only screen and (max-width: 600px) {
  #login-form h1 {
    font-size: 20px;
  }
}
#login-form hr {
  color: #D9D9D9;
}
@media only screen and (max-width: 600px) {
  #login-form hr {
    display: none;
  }
}
#login-form #container {
  width: 60%;
  margin: auto;
  height: auto;
  padding: 0;
}
@media only screen and (max-width: 600px) {
  #login-form #container {
    width: 85%;
  }
}
#login-form #container #float-right {
  font-size: 40px;
  text-align: left;
  margin-bottom: 30px;
}
@media only screen and (max-width: 600px) {
  #login-form #container #float-right {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
#login-form #container #form {
  width: 100%;
  height: auto;
}
#login-form #container #form .form-name {
  font-size: 15px;
  padding-bottom: 20px;
}
@media only screen and (max-width: 600px) {
  #login-form #container #form .form-name {
    font-size: 13px;
    padding-bottom: 10px;
  }
}
#login-form #container #form input {
  margin: 20px 0;
  width: 100%;
  height: 70px;
  outline: 0;
  border-radius: 7px;
  padding: 20px;
  border: 1px solid #B0B0B0;
}
@media only screen and (max-width: 600px) {
  #login-form #container #form input {
    height: 50px;
    margin: 10px 0;
  }
}
#login-form #container #form #password-icon {
  position: relative;
}
#login-form #container #form #password-icon i {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 70px;
  left: 680px;
  color: #B0B0B0;
}
@media only screen and (max-width: 600px) {
  #login-form #container #form #password-icon i {
    left: 400px;
    top: 45px;
  }
}
#login-form #container #form a {
  text-decoration: none;
  color: #4B4B4B;
}
#login-form #container #form a p {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 30px;
}
@media only screen and (max-width: 600px) {
  #login-form #container #form a p {
    margin-bottom: 40px;
  }
}
#login-form #container #form .button {
  width: 100%;
  height: 250px;
}
#login-form #container #form .button a {
  text-decoration: none;
}
#login-form #container #form .button a button {
  background-color: transparent;
  width: 100%;
  height: 70px;
  margin-bottom: 20px;
  border: 1px solid #B0B0B0;
  border-radius: 7px;
  position: relative;
}
@media only screen and (max-width: 600px) {
  #login-form #container #form .button a button {
    height: 60px;
  }
}
#login-form #container #form .button a button span {
  width: 30px;
  height: 30px;
  background-image: url("/images/Google.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#login-form #container #form .button a button:hover {
  background-color: #0C8CE9;
  color: #ffffff;
}
#login-form #container #form .button a button i {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 25px;
  left: 20px;
  color: #0C8CE9;
  font-size: 20px;
}
@media only screen and (max-width: 600px) {
  #login-form #container #form .button a button i {
    top: 20px;
  }
}
#login-form #container #form .button a button i:hover {
  color: #ffffff;
}
#login-form #container #form .button a #signin {
  background-color: #0C8CE9;
  color: #fff;
}
#login-form #container #form .button a #signin:hover {
  font-weight: 500;
}

.end {
  width: 300px;
  height: 40px;
  margin: 70px auto;
  padding: 0;
}
@media only screen and (max-width: 600px) {
  .end {
    margin: 30px auto;
  }
}
.end a {
  font-size: 14px;
  font-weight: 700;
}
.end a span {
  text-decoration: underline;
  font-weight: 500;
}/*# sourceMappingURL=signin.css.map */