*{
    margin:0;
    padding:0;
    width:100%;
    height:auto;
    box-sizing: border-box;
    font-family: 'Neue Montreal';
    font-weight: normal;
    font-style: normal;

    body{
        width:100%;
        height:auto;
        padding:0;
        margin:0;
    }
}

#login-form{
    width:100%;
    height:auto;
    margin:auto;
    position: relative;
    //transform: -50% -50%;

    #cancel{
        width:50px;
        height:50px;
        position:absolute;
        top:0;
        left:50px;


        a{
            text-decoration: none;
            
            
            button{
                border:0;
                width:50px;
                height:50px;

                @media only screen and (max-width: 600px){
                    background-color: #000;
                    border-radius: 50%;
                    width:30px;
                    height:30px;
                    //margin-top:10px;

                    i{
                        color: #fff;
                    }
                }
            }
        }
    
    }

    h1{
        font-size: 32px;
        text-align: center;
        margin-top:50px;
        margin-bottom:20px;
        font-weight: 700;
        color:#1e1e1e;

        @media only screen and (max-width: 600px){
            font-size: 20px;;
        }
    }
    

    hr{
        color:#D9D9D9;

        @media only screen and (max-width: 600px){
            display:none;
        }
    }

    #container{
        width:60%;
        margin:auto;
        height:auto;
        padding:0;

        @media only screen and (max-width: 600px){
            width: 85%;
        }

        #float-right{
            font-size: 40px;
            text-align: left;
            margin-bottom:30px;

            @media only screen and (max-width: 600px){
                font-size: 20px;;
                margin-bottom: 20px;
            }
        }

        #form{
            width:100%;
            height:auto;

            .form-name{
                font-size: 15px;
                padding-bottom: 20px;

                @media only screen and (max-width: 600px){
                    font-size: 13px;
                    padding-bottom: 10px;
                }
            }

            input{
                margin:20px 0;
                width:100%;
                height:70px;
                outline: 0;
                border-radius: 7px;
                padding:20px;
                border: 1px solid #B0B0B0;

                @media only screen and (max-width: 600px){
                    height:50px;
                    margin:10px 0;
                }
            }


            #password-icon{
                position: relative;

                i{
                    width:30px;
                    height:30px;
                    position:absolute;
                    top:70px;
                    left:680px;
                    color: #B0B0B0;

                    @media only screen and (max-width: 600px){
                        left:400px;
                        top:45px;
                    }
                }
            }

            a{
                text-decoration: none;
                color: #4B4B4B;
                
                p{
                    font-size: 13px;
                    font-weight: 500 ;
                    margin-bottom: 30px;

                    @media only screen and (max-width: 600px){
                        margin-bottom: 40px;;
                    }
                }
            }

            .button{
                width:100%;
                height: 250px;

                a{
                    text-decoration: none;

                    button{
                        background-color:transparent;
                        width:100%;
                        height:70px;
                        margin-bottom: 20px;
                        border: 1px solid #B0B0B0;
                        border-radius: 7px;
                        position:relative;

                        @media only screen and (max-width: 600px){
                            height:60px;
                        }

                        span{
                            width:30px;
                            height: 30px;
                            background-image: url("/images/Google.png");
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: center;
                        }


                        &:hover{
                            background-color:#0C8CE9;
                            color: #ffffff;
                        }

                        i{
                            position: absolute;
                            width:30px;
                            height:30px;
                            top:25px;
                            left:20px;
                            color:#0C8CE9;
                            font-size: 20px;;

                            @media only screen and (max-width: 600px){
                                top:20px;
                            }

                            &:hover{
                                color: #ffffff;
                            }
                            
                        }

                        
                    }

                    #signin{
                        background-color: #0C8CE9;
                        color:#fff;
                    }

                    #signin:hover{
                        font-weight: 500;
                    }


                }
            }
        }

    }
}


.end{
    width:300px;
    height:40px;
    margin:70px auto;
    padding: 0;

    @media only screen and (max-width: 600px){
        margin:30px auto;
    }

    a{
        font-size: 14px;
        font-weight:700;

        span{
            text-decoration: underline;
            font-weight:500;
        }
    }
}
