* {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  font-family: "Neue Montreal";
  font-weight: normal;
  font-style: normal;
}
* body {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

#form {
  width: 100%;
  height: auto;
  margin: auto;
  position: relative;
}
#form #cancel {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 50px;
}
#form #cancel a {
  text-decoration: none;
}
#form #cancel a button {
  border: 0;
  width: 50px;
  height: 50px;
}
@media only screen and (max-width: 600px) {
  #form #cancel a button {
    background-color: #000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
  #form #cancel a button i {
    color: #fff;
  }
}
#form h1 {
  font-size: 32px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: 700;
  color: #1e1e1e;
}
@media only screen and (max-width: 600px) {
  #form h1 {
    font-size: 20px;
  }
}
#form hr {
  color: #D9D9D9;
}
@media only screen and (max-width: 600px) {
  #form hr {
    display: none;
  }
}
#form #container {
  width: 60%;
  margin: auto;
  height: auto;
  padding: 0;
}
@media only screen and (max-width: 600px) {
  #form #container {
    width: 85%;
  }
}
#form #container #float-right {
  font-size: 40px;
  text-align: left;
  margin-bottom: 30px;
}
@media only screen and (max-width: 600px) {
  #form #container #float-right {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
#form #container form {
  width: 100%;
  height: auto;
}
#form #container form .form-name {
  font-size: 15px;
  padding-bottom: 20px;
}
@media only screen and (max-width: 600px) {
  #form #container form .form-name {
    font-size: 13px;
    padding-bottom: 10px;
  }
}
#form #container form input {
  margin: 20px 0;
  width: 100%;
  height: 70px;
  outline: 0;
  border-radius: 7px;
  padding: 20px;
  border: 1px solid #B0B0B0;
}
@media only screen and (max-width: 600px) {
  #form #container form input {
    height: 50px;
    margin: 10px 0;
  }
}
#form #container form .button {
  width: 100%;
  height: 430px;
}
#form #container form .button a {
  text-decoration: none;
}
#form #container form .button a button {
  background-color: transparent;
  width: 100%;
  height: 70px;
  margin-bottom: 20px;
  border: 1px solid #B0B0B0;
  border-radius: 7px;
  position: relative;
}
@media only screen and (max-width: 600px) {
  #form #container form .button a button {
    height: 60px;
  }
}
#form #container form .button a button span {
  width: 30px;
  height: 30px;
  background-image: url("/images/Google.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#form #container form .button a button:hover {
  background-color: #0C8CE9;
  color: #ffffff;
}
#form #container form .button a button i {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 30px;
  left: 20px;
  color: #0C8CE9;
}
@media only screen and (max-width: 600px) {
  #form #container form .button a button i {
    top: 20px;
  }
}
#form #container form .button a button i:hover {
  color: #ffffff;
}
#form #container form .button a #signin {
  background-color: #0C8CE9;
  color: #fff;
  margin: 20px auto 80px auto;
}
#form #container form .button a #signin:hover {
  font-weight: 500;
}

.end {
  width: 300px;
  height: 40px;
  margin: auto;
  padding: 0;
}
.end a {
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #787878;
}
.end a span {
  text-decoration: underline;
  font-weight: 700;
}/*# sourceMappingURL=Signup1.css.map */